#rightbox{
    height: 50px;
    margin: 10%;
    border: solid black 1px;
    background-color: rgb(217, 255, 0);
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 30px;
}
#test1{
    display: flex;
}
#test123{
    width: 30%;
    
}
#rightbox a{
    text-decoration: none;
}