#rightbox{
    width: 30%;
    
}

#rightbox div{
    margin-bottom: 20px;
}

/*--- boxMenu ---*/
.boxMenu{
    height: 60px;
    margin: 20px 20px 0 0;
    
    background: linear-gradient(135deg, rgb(207, 241, 241) 40%, rgb(242, 249, 255) 100%);
    text-align: center;
    font-size: 140%;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.6);
}

.boxMenu:hover{
    background: linear-gradient(135deg, rgb(132, 199, 219) 40%, rgb(242, 249, 255) 100%);
    
}

#test1{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}
/*--- boxMenu ---*/