#stihcontent{
    width: 70%;
    text-align: justify;
}

#stihcontent h2{
    font-size: 30px;
    padding-left: 40px;
}

#stihcontent p{
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
