#stihcontent{
    display: block;
    width: 70%;
    text-align: justify;
    padding-left: 40px;
}

#stihcontent h1{
    font-size: 30px;
    text-align: center;
}

#stihcontent h2{
    text-decorsted: none;
    font-size: 30px;
    padding-left: 10px;
}

.img{
    width: 40%;
    border-radius: 10px;
}

.img2{
    
    width: 30%;
}

#stihcontent p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
