html{
    background: rgb(230,244,255);
    background: linear-gradient(90deg, rgba(230,244,255,1) 0%, rgba(227,254,255,1) 50%, rgba(230,244,255,1) 100%);
    background-size:cover;
    background-attachment:fixed;
    
}

@font-face {
  font-family: 'Lobster-Regular';
  src: url(../font/Lobster-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

#osnova{
    display: flex; 
   
}

#osnovacenter{
    width: 80%;
    display: flex;
    justify-content: center;
}

#emblema img{
    max-width: 115px;
    padding: 5px;
    padding-right: 25%;
}

.divnasvanie{
    font-size: 40px;
    width: 50%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

#setka{
    width: 70%;
    display: grid;
    justify-items: center;
    margin: 10px 10px 0 0;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
}

#divright{
    width: 20%;
    color: #fff;
    margin: 10px;
    
}

.kartinka{
    margin: 10px;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.6);
    
}
.kartinka img{
    width: 100%;
    
}

.kartinka p{
    font-family: Lobster-Regular;
    color: black;
    font-size: 29px;
}

nav{
    display: inline-flex;
    list-style: none;
    margin-left: 10px;
    align-items: center;
}
nav li{
    margin: 10px;
}

.content{
    display: flex;
}
